.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__headingActive {
  color: #2bd97c;
}